<h1>Cart # {{cId}}</h1>
<input type="hidden" id="cId" value="{{cId}}">

<div id="cartContainer">
    {{#each cart.rdo}}
        <div>
            <h3>Producto: {{this.product.title}}</h3>
            <span>Cantidad: </span>{{this.quantity}}</span>
            <br />
            <span>Precio Unitario: ${{this.product.price}}</span>
        </div>
        <br />
        <br />
    {{/each}}
</div>


{{#if cart.rdo.length}}
    <form action="/api/carts/{{cId}}/purchase" method="post" id="buyForm">
        <button>Buy Cart</button>
    </form>
    <br />
        <button type="button" id="emptyCartBtn">Empty Cart</button>
    <br />
    <br />
{{/if}}
<button type="button"><a href="/products">Go to Products</a></button>

<br /><br />
<button><a href="/">Home</a></button>

<script src="/js/cart.js"></script>
