<h1>Productos</h1>


<input type="hidden" id="cId" value="{{user.rdo.cart}}">
<p>Welcome back, {{user.rdo.first_name}} {{user.rdo.last_name}}!</p>
<p>Email: {{user.rdo.email}}</p>
<p>Age: {{user.rdo.age}}</p>
<span>Role: {{user.rdo.role}}</span>
<br /><br />
<button id="cartBtn" type="button"><a href="http://localhost:8080/carts/{{user.rdo.cart}}">Go Cart</a></button>

<button><a href="/">Home</a></button>

<button id="logoutBtn" type="button">Cerrar sesión</button>
<br /><br />
{{#each products.payload}}
  <div class="product-item">
    <p>Id: {{this._id}}</p>
    <p>Title: {{this.title}}</p>
    <p>Description: {{this.description}}</p>
    <p>Price: {{this.price}}</p>
    <p>Status: {{this.status}}</p>
    <p>Code: {{this.code}}</p>
    <p>Stock: {{this.stock}}</p>
    <p>Categoria: {{this.category}}</p>
    <img src="{{this.thumbnail}}" alt="{{this.title}}" width="100">
    <br>
    <button id="pId" value="{{this._id}}">Agregar al carrito</button>
  </div>
{{/each}}

{{#if products.hasPrevPage}}
    <button><a href="/products?page={{products.prevPage}}">Anterior</a></button>
{{/if}}

{{#if products.hasNextPage}}
    <button><a href="/products?page={{products.nextPage}}">Siguiente</a></button>
{{/if}}


<script src="js/products.js"></script>