
<input type="hidden" id="productOwner" value="{{user.rdo._id}}">
<p>Welcome back, {{user.rdo.first_name}} {{user.rdo.last_name}}!</p>
<p>Email: {{user.rdo.email}}</p>
<p>Age: {{user.rdo.age}}</p>
<span>Role: {{user.rdo.role}}</span>
<br /><br />

<button><a href="/">Home</a></button>

<br /><br />
<h1>Creación de Productos</h1>

<!-- Formulario para crear un producto -->
<form action="/api/products" method="post" id="createProductForm">
    <label>Nombre: </label> <input type="text" id="productName" name="title" required />
    <br>
    <br>
    <label>Descripción: </label> <input type="text" id="productDescription" name="description" required />
    <br>
    <br>
    <label>Código: </label> <input type="text" id="productCode" name="code" required />
    <br>
    <br>
    <label>Precio: </label> <input type="number" id="productPrice" name="price" required />
    <br>
    <br>
    <label>Stock: </label> <input type="number" id="productStock" name="stock" required />
    <br>
    <br>
    <label>Category: </label> <input type="text" id="productCategory" name="category" required />
    <br>
    <br>
    <label>Imagen: </label> <input type="text" id="productThumbnail" name="thumbnail" required />
    <br>
    <br>
    <button type="button" onclick="createProduct()">Agregar Producto</button>
    <br>
    <br>
    <br>
</form>


<h2>Eliminar productos</h2>
<!-- Formulario para eliminar un producto -->
<form action="/api/products" id="deleteProductForm">
    <label>ID del Producto a Eliminar: </label> <input type="text" id="productIdToDelete" name="_id" required/>
    <br>
    <br>
    <button type="button" onclick="deleteProduct()">Eliminar Producto</button>
    <br>
</form>


<h2>Vista de productos en tiempo real</h2>
{{!-- Para crear el listado de Productos --}}
<ul id="productList"></ul>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>

