<h1>Ticket # {{tId}}</h1>

<div>
    <p>Codigo: {{ticket.rdo.code}}</p>
    <br />
    <p>Fecha de compra: {{ticket.rdo.purchase_datetime}}</p>
    <br />
    <p>Comprador: {{ticket.rdo.purchaser}}</p>
    <br />
    <p>Monto total: ${{ticket.rdo.amount}}</p>
</div>
<br />

<button><a href="/">Home</a></button>